table, th, td {
    size: 50%;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5%;
    margin: .20em;
  }
  input{
    width: max-content;
  }
  div{
    box-sizing: border-box;
    width : 99%;
    align-items: center;
    align-content: center;
  }
  form{
    margin: auto;
    width: max-content;
    font-family: math;
  }
  h1{
    text-align: center;
    }
    h3{ 
        align-content: center;
        text-align: center;
        }
 #container{
    border-radius: 5px;
    padding : 20px;
    width: 20%;
    text-align: center;
 }